.add-button {
  float: right;
  top: 30px;
}

.number-input {
  width: 75px;
}

.transaction-button {
  /*display: block;*/
}

.transaction-row {
  transition-duration: 0.4s;
}

.transaction-row:hover {
  background-color: #457C95;
  cursor: pointer;
}
.transactions-section {
  max-height: 60%;
  overflow-y: auto;
}

.transactions-table {
  color: whitesmoke;
}

.budgets-section {
  max-height: 25%;
  overflow-y: auto;
}
.budgets-table {
  color: whitesmoke;
}

.tag-select {
  width: 125px;
}

.budgetish-main {
  color: whitesmoke;
  height: inherit;
  width: inherit;
  max-width: fit-content;
  display: inline-block;
  text-align: left;
}
