body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: inherit;
  width: inherit;
  overflow: hidden;
  background-color: #666666;
}

html {
  height: 100%;
  width: 100%;
}

#root {
  height: inherit;
  width: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  color: -internal-light-dark-color(white, black);
  background-color: -internal-light-dark-color(black, white);
  color: whitesmoke;
  background-color: #666666;
}

label {
  color: whitesmoke;
  margin: 5px;
}

div {
  /*height: inherit;*/
}

select {
  background-color: #1781b1; /* Grey */
  border: none;
  color: white;
}

button {
  background-color: #1781b1; /* Grey */
  border: none;
  color: white;
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-inline-start: 20px;
}